@use "tailwind";
@use "typography";
@use "forms";
@use "buttons";

*:focus,
*:focus-visible {
  outline-offset: 0.375rem;
  outline: 1rem auto rgb(37, 99, 235);
}

hr {
  border-width: 1.125px;
  @apply border-slate-300;
}

svg {
  display: inline;
}
