---
import FourOFour from "../images/404.svg?raw";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="max-w-[768px] p-4 mx-auto">
    <h1 class="text-center">
      Oops... It seems the page you requested does not exist!
    </h1>

    <div class="w-4/5 my-4 mx-auto">
      <Fragment set:html={FourOFour} />
    </div>
  </section>
</MainLayout>
