<section class="max-w-[768px] mx-auto p-8">
  <h2 class="text-center">About Me</h2>

  <div
    style="text-align-last: center;"
    class="text-justify gap-4 flex flex-col"
  >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eum iure
      enim ratione officiis? Temporibus ad veritatis quibusdam deleniti nobis
      saepe dicta odio quas et facere expedita, voluptatem blanditiis quo
      mollitia modi officia id voluptatibus rerum obcaecati. Assumenda, omnis
      rem distinctio iusto necessitatibus vitae in optio aperiam nihil deserunt.
      Quo?
    </p>

    <p>
      Voluptatum eveniet cupiditate magni eos deserunt blanditiis reiciendis!
      Tempore sed ipsam ratione perspiciatis. Modi labore enim nihil, fuga
      inventore illo natus ea exercitationem eius id reiciendis, numquam
      consequuntur nobis perspiciatis incidunt eligendi quo totam tenetur minus
      pariatur? Deleniti reprehenderit odit saepe praesentium iste doloribus
      aliquid ullam voluptatum labore. Incidunt, rerum.
    </p>

    <p>
      Perferendis corrupti in eos eaque? Beatae recusandae iusto minima officia
      aperiam obcaecati illo rem unde commodi cupiditate dolorem provident
      laborum nesciunt iure itaque, ipsum dolores. Praesentium dolorem
      voluptates enim quod, quisquam deleniti asperiores quo, similique soluta
      distinctio saepe veritatis eum quasi voluptas aperiam fuga alias harum
      nulla eaque eligendi cupiditate.
    </p>
  </div>
</section>
