<style>

</style>

<section class="px-8 pt-8 pb-12 bg-slate-900 text-gray-50">
  <div class="max-w-[640px] mx-auto">
    <div class="mb-8 text-center">
      <h2 class="text-red-500">Contact Me</h2>
      <p class="text-xl italic">
        Have any interesting idea? Let's work together!
      </p>
    </div>

    <form class="gap-4 flex flex-col text-gray-300">
      <label class="gap-2 flex flex-col">
        Enter Your Full Name
        <input type="text" required />
      </label>

      <label class="gap-2 flex flex-col">
        Enter Your Email Address
        <input type="email" required />
      </label>

      <label class="gap-2 flex flex-col">
        Enter Your Message
        <textarea required></textarea>
      </label>

      <button type="submit" class="mt-2 mx-auto btn">Send Message</button>
    </form>
  </div>
</section>
